main {
    color: var(--text-dark);
}
main .head {
    padding: 20px 40px 0;
    font-weight: 700;
}
main .title {
    font-size: 40px;
}
main .content {
    padding: 0 40px;
}
main #prompt_input {
    display: block;
    width: 100%;
    outline: none;
    border: 0;
    color: inherit;
    background-color: var(--bg-dark);
}
