.languages-container {
    width: 100%;
    position: absolute;
    padding: 10px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
._code .prompt-ellipses {
    display: flex;
    gap: 6px;
}
._code .prompt-ellipses span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
._code .prompt-ellipses span:first-child {
    background-color: #FF5F56;
}
._code .prompt-ellipses span:nth-child(2) {
    background-color: #FFBD2D;
}
._code .prompt-ellipses span:last-child {
    background-color: #27C93F;
}
.code-language {
    width: fit-content;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
    cursor: pointer;
}
.code-language i {
    font-size: 10px;
}
.code-language:hover {
    background-color: rgba(255, 255, 255, 0.06);
}
._code code {
    padding: 40px 1.2rem 20px 1.2rem !important;
    display: block;
    min-height: 40px;
    font-size: 14px;
    border-radius: 4px;
    line-height: 1.8;
}

.languages-prompt {
    width: 240px;
    position: absolute; 
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    z-index: 3000;
}
.languages-prompt .prompt__search {
    padding: 12px;
}
.languages-prompt .prompt__search input {
    width: 100%;
    padding: 4px 10px;
    border: 1px solid rgba(55, 53, 47, 0.15);
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    background-color: rgba(242, 241, 238, 0.6);
    margin-top: 4px;
    margin-bottom: 4px;
}
.languages-prompt ul {
    padding: 0 6px;
    height: 240px;
    overflow-y: auto;
}
.languages-prompt li {
    font-size: 14px;
    color: var(--text-dark);
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
}
.languages-prompt li:hover {
    background-color: var(--hover-bg);
}

#languages-prompt__offset {
    position: fixed;
    inset: 0;
    background-color: transparent;
}
