._file {
    display: flex;
    align-items: center;
    background-color: var(--hover-bg);
    color: var(--text-gray);
    font-size: 14px;
    padding: 12px;
    cursor: pointer;
    position: relative;
}
