#user {
    height: 100%;
}
#user .container {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    grid-template-columns: 220px 1fr;
    grid-template-rows: 45px 1fr;
    overflow: hidden;
}

#user header {
    grid-area: header;
}
#user #sidebar {
    grid-area: sidebar;
}
#user main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

[contenteditable] {
    outline: none;
}
/* .codex-editor__redactor {
    padding-bottom: 0 !important;
} */
.ce-block__content {
    max-width: none !important;
    padding-left: 2rem;
}
.ce-toolbar__actions {
    right: 0;
    left: -120px;
}

/* Customizing the Scrollbar : */
::-webkit-scrollbar {
    background: transparent;
    width: 8px;
    height: 10px;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #d3d1cb;
}

#user main .content {
    flex-grow: 1;
    padding-bottom: 300px;
}

@media screen and (max-width: 530px) {
    #user .container {
        grid-template-areas:
            "header"
            "main";
        grid-template-columns: 1fr;
    }
}
