header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    color: var(--text-dark);
}
header .title {
    font-size: 14px;
}
header #options {
    display: inherit;
    font-size: 14px;
}
header #options li {
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
}
header #options li:hover {
    background-color: var(--active-bg);
}